#Project service
COMPOSE_PROJECT_NAME=go_auth
CUREENT_CONFIG_PATH=/var/www/html/.devcontainer/.env
ENVIRONMENT=local

#Server settings
VHOST=go_auth
VHOST_PORT=8083
TIMEOUT=4s
IDDLE_TIMEOUT=60s

#DB settings
DB_IMAGE=postgres
DB_IMAGE_TAG=latest
DB_NAME=cscart
DB_USER=root
DB_PASS=root
DB_HOST=localhost
DB_PORT=5432
DB_SSLMode=disable
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_MAX_ATTEMPTS=10
DB_DELAY=2s
DB_MAX_DELAY=10s

#Adminer settings
ADMINER_IMAGE=adminer
ADMINER_IMAGE_TAG=latest
ADMINER_PORT=8082

#Other settings
GO_ARCHIVE=go1.22.5.linux-amd64.tar.gz
UID=1000
GID=1000
SSH_FILE=~/.ssh/id_rsa
SSH_CONFIG_FILE=~/.ssh/config
