VHOST=go_auth
COMPOSE_PROJECT_NAME=go_auth

DB_IMAGE=postgres
DB_IMAGE_TAG=latest
DB_NAME=cscart
DB_USER=root
DB_PASS=root

GO_ARCHIVE=go1.22.5.linux-amd64.tar.gz

UID=1001
GID=1001
SSH_FILE=~/.ssh/id_rsa
SSH_CONFIG_FILE=~/.ssh/config

ADMINER_IMAGE=adminer
ADMINER_IMAGE_TAG=latest
ADMINER_PORT=8082
